# Environment variables
.env
.env*.local

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Package managers
yarn.lock
yarn-debug.*
yarn-error.*
npm-debug.*

# Metro bundler
.metro-health-check*

# Build files
*.tsbuildinfo

# macOS
.DS_Store
*.pem

# IDE
.idea/
.vscode/

# Testing
coverage/

# Firebase
cleanupTestBills.js

# Temporary files
*.log
*.tmp

# iOS
ios/Pods/
ios/build/

# Android
android/app/build/
android/build/
android/.gradle/
